* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

/* Inicio login-cadastro */

.login {
    background-color: #EAE0FE;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .banner {
    background-color: #291A47;
    height: 500px;
    width: 430px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.login h1 {
    border-bottom: #A245DE 2px solid;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 32px;
    color: #fff;
}

.cadastro {
    background-color: #EAE0FE;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro .banner {
    background-color: #291A47;
    height: 400px;
    width: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.cadastro .conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 350px;
}

#linha {
    border-right: #A245DE 2px solid;
}

.cadastro h1 {
    border-bottom: #A245DE 2px solid;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 32px;
    color: #fff;
}

.campo {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.campo label {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 6px;
}

.campo input {
    background-color: #563C89;
    border: none;
    font-size: 22px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.campo input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #442f6d;
}

.campo button {
    font-size: 22px;
    width: 215px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    color: #fff;
    font-weight: bold;
}

.campo button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #6b3dc7;
}

.campo a {
    font-size: 22px;
    width: 215px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

.campo a:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #6b3dc7;
}

.campo span {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.senha {
    display: flex;
}

.senha a {
    width: 35px;
    height: 35px;
    background-color: transparent;
    margin-left: -40px;
    margin-top: 5px;
}

.senha img {
    height: 35px;
}

.btn1 {
    background-color: #4260D4;
}

.btn2 {
    background-color: #C242D4;
}

/* Fim login-cadastro */

/* Começo Home */

.home {
    background-color: #BBA0F2;
}

.header {
    background-image: url("../assets/bg_mesa.png");
    width: 100%;
    height: 300px;
    background-size: cover;
}

.header_gradient {
    background-image: linear-gradient(to top, #BBA0F2, rgb(137, 86, 240, 0.7), rgba(137, 86, 240, 0.4), rgba(137, 86, 240, 0.2));
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
}

.nav_bar {
    background-color: #2f1d52;
    height: fit-content;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 170px;
    border-right: #A245DE 1px solid;
}

.logo img {
    height: 65px;
}

.itens_nav {
    width: 80%;
}

.itens_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 18px;
    font-weight: bold;
    cursor: default;
    color: #fff;
    list-style-type: none;
}

.item {
    margin-left: 15px;
    margin-right: 15px;
    height: 60px;
    display: flex;
    align-items: center;
}

.item:hover {
    color: rgb(212, 212, 212);
}

.item a {
    text-decoration: none;
    color: #fff;
}

.t_item:hover {
    color: rgb(212, 212, 212);
}

.item ul {
    position: absolute;
    top: 60px;
    display: none;
    height: auto;
    background-color: #fff;
}

.item ul a {
    color: black;
}

.item ul a:hover {
    color: rgb(94, 94, 94);
}

.item:hover ul, .item.over ul {
    display: block;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 5px 5px;
}

.sub_item li {
    border-bottom: 1px solid #c0c0c0;
    display: block;
    width: 190px;
    padding: 10px;
}

.sub_item .u_s_item {
    border-bottom: 0;
}

.criar {
    display: none;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 300px;
    text-align: center;
}

.user a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.user_img{
    height: 35px;
    width: 35px;
    padding: 8px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.user .item ul {
    position: absolute;
    top: 60px;
    right: 20px;
    display: none;
    height: auto;
    background-color: #fff;
}

.user .item:hover ul, .item.over ul {
    display: block;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 5px 5px;
}

.user .sub_item li {
    width: 90px;
}

.user a {
    cursor: pointer;
}

.header_banner {
    font-size: 40px;
    font-weight: bold;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header_banner span {
    background-color: rgba(68, 40, 124, 0.65);
    height: auto;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
}

.corpo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.corpo .container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.vertical_container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.descricao_site {
    height: fit-content;
    width: auto;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background-color: #291A47;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    align-items: center;
}

.descricao_site p {
    text-align: justify;
    text-indent: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.slogan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

.campanhas_destaque {
    height: fit-content;
    width: 100%;
    background-color: #291A47;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campanha {
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.campanha_item {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    background-color: #3A2563;
    border-radius: 16px;
    display: flex;
    align-items: end;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    cursor: pointer;
    transition: all .2s ease-in-out
}

#campanha {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campanha_link {
    width: 200px;
    margin-right: 15px;
}

.campanha_item:hover {
    box-shadow: 2px 4px 1px #120a16;
    background-size: cover - 90px;
    text-decoration: underline 2px;
}

.campanha_item .campanha_mascara {
    height: 50%;
    width: 100%;
    border-radius: 15px;
    background-image: linear-gradient(to top, #3A2563, #3A2563, #3A2563, #972fdd00);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.campanha_mascara h2 {
    padding-top: 25px;
}

.novidades {
    height: auto;
    width: 28%;
    background-color: #291A47;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novidade {
    width: 90%;
    height: auto;
}

.novidade_item {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 33%;
    border-bottom: #563C89 1px solid;
}

.novidade_item h2 {
    font-size: 19px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.novidade_item p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    text-align: justify;
}

.titulo {
    display: flex;
    align-items: center;
    width: 95%;
    height: 50px;
    border-bottom: #C242D4 2px solid;
}

.titulo h1 {
    padding-left: 5px;
}

/* Fim Home */

/* Começo Lista */

.campanha_pag {
    background-color: #BBA0F2;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #2f1d52;
    border-radius: 5px;
    margin-top: 20px;
}

.lista h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: #A245DE 2px solid;
    width: 95%;
    padding: 10px;
}


.lista_item {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}

.lista_item:hover {
    background-color: #3A2563;
    color: #fff;
    border-radius: 15px;
}

.lista_img {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.lista_conteudo {
    width: 80%;
    height: 100%;
    color: #fff;
    padding: 10px;
}

.lista_conteudo h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.lista_conteudo p {
    text-indent: 15px;
    font-size: 17px;
}

.listar_campo {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#lista_titulo{
    cursor: default;
}

/* Fim Lista */

/* Inicio Artigo */

.artigo_pag {
    background-color: #BBA0F2;
}

.artigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #2f1d52;
    border-radius: 5px;
    margin-top: 20px;
}

.artigo h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: #A245DE 2px solid;
    width: 95%;
    padding: 10px;
}

.artigo_head {
    width: 95%;
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.artigo_img {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.artigo_info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 15px;
    width: 85%;
}

.artigo_info h2{
    font-size: 25px;
    font-weight: bold;
}

.artigo_info p{
    font-size: 22px;
    margin-left: 5px;
}

.artigo_info a {
    font-size: 22px;
    color: #cd81ff;
    margin-left: 5px;
}

.artigo_info a:hover {
    color: #6b3dc7;
}

.artigo_info span{
    font-size: 22px;
    margin-left: 5px;
}

.artigo_label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.artigo_body{
    width: 95%;
    height: auto;
    color: #fff;
    padding: 10px;
    text-indent: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    font-size: 20px;
}



/* Fim Artigo */

/* Começo Perfil */

.perfil_pag {
    background-color: #BBA0F2;
}

.perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #2f1d52;
    border-radius: 5px;
    margin-top: 20px;
    padding: 25px;
    color: #fff;
}

.perfil_header {
    display: flex;
}

.perfil_img {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.perfil_img img {
    height: 100%;
    width: 100%;
}

.perfil_nome {
    margin-top: 20px;
    margin-left: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.perfil_nome h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.perfil_nome h2 {
    font-size: 20px;
    font-weight: bold;
    text-indent: 15px;
}

.perfil_corpo {
    margin-top: 20px;
    margin-left: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.perfil_corpo p {
    font-size: 17px;
    text-indent: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.perfil_campanha {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: fit-content;
}

.chart {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    align-items: center;
}

.chart h1 {
    width: 100%;
    text-align: left;
}

.chart_grafico {
    width: 250px;
    display: flex;
    justify-content: center;
}

.campanha_link {
    text-decoration: none;
    color: #fff;
}

#perfil_campanha_lista {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

#perfil_campanha_lista .campanha_item {
    margin-right: 15px;
    width: 200px;
}

#erro {
    display: none;
    font-size: 15px;
    width: 150px;
    height: fit-content;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    background-color: #6b3dc7;
    padding: 10px;
    border-radius: 15px;
}

/* Fim Perfil */

/* Começo Criar */

.criar_pag {
    background-color: #BBA0F2;
}

.criar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #2f1d52;
    border-radius: 5px;
    margin-top: 20px;
}

.criar h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: #A245DE 2px solid;
    width: 95%;
    padding: 10px;
}

.parametros {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    color: #fff;
}

.parametros h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.parametros select {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../assets/seta_dw.png') no-repeat #563C89;
    background-size: 15px;
    background-position: 225px center;
}

.parametros select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background: url('../assets/seta_up.png') no-repeat #442f6d;
    background-size: 15px;
    background-position: 225px center;
}

.topicos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    color: #fff;
}

#t_campanha {
    display: none;
}

#t_personagem {
    display: none;
}

#t_monstro {
    display: none;
}

#t_item {
    display: none;
}

#t_magia {
    display: none;
}

#div_grupo {
    display: none;
}

.btn_criar button {
    font-size: 18px;
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #A245DE;
    margin-bottom: 15px;
}

.btn_criar button:active {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: #6b3dc7;
}

#div_artigo{
    display: none;
}

.div_artigo{
    flex-direction: column;
    width: 95%;
    height: fit-content;
    color: #fff;
}

.div_artigo h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.div_artigo input{
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 5px;
    background-color: #563C89;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.div_artigo input:focus{
    background-color: #442f6d;
}

.div_artigo .desc{
    width: 98%;
    height: 100px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 5px;
    background-color:#563C89;
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.div_artigo .desc:focus{
    background-color: #442f6d;
}

.div_artigo .cont{
    width: 98%;
    height: 500px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 5px;
    background-color:#563C89;
    resize: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.div_artigo .cont:focus{
    background-color: #442f6d;
}

.div_artigo button{
    font-size: 18px;
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #A245DE;
    margin-bottom: 15px;
}

.div_a_img input{
    width: 400px;
    height: 30px;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 16px;
    margin-left: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


/* Fim Criar */

/* Começo Sobre */

.sobre{
    background-color: #BBA0F2;
}

.sobre .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f1d52;
    width: 800px;
    height: auto;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

.sobre_head h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: #A245DE 2px solid;
    width: 95%;
    padding: 10px;
}

.sobre_head p{
    font-size: 18px;
    width: 95%;
    padding: 10px;
    text-indent: 10px;
}

.sobre_head a{
    font-size: 18px;
    color: #A245DE;
}

/* Fim Sobre */
